.footer {
  position: relative;
  background-color: #0f0f0f;
  color: var(--text-color);
  padding-block: 2em;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 1em;
  .footer-section {
    p {
      opacity: 0.8;
      margin: 0 0.5em 0.5em !important;
    }
    p.title {
      opacity: 1;
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 1em;
    }
  }
} 